asgiref==3.8.1
async-timeout==5.0.1
attrs==25.1.0
autobahn==24.4.2
Automat==24.8.1
bleach==6.2.0
cachalot==1.5.0
cffi==1.17.1
channels==4.2.0
channels_redis==4.2.1
constantly==23.10.4
cryptography==44.0.0
daphne==4.1.2
dj-database-url==2.3.0
dj-rest-auth==7.0.1
Django==5.1.6
django-redis==5.4.0
djangorestframework==3.15.2
drf-api-logger==1.1.16
drf-yasg==1.21.8
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
inflection==0.5.1
jsonpickle==4.0.1
msgpack==1.1.0
packaging==24.2
pillow==11.1.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pyOpenSSL==25.0.0
python-decouple==3.8
pytz==2025.1
PyYAML==6.0.2
redis==5.2.1
service-identity==24.2.0
sqlparse==0.5.3
tinydb==4.8.2
tinydb-smartcache==2.0.0
tomli==2.2.1
Twisted==24.11.0
txaio==23.1.1
typing_extensions==4.12.2
uritemplate==4.1.1
webencodings==0.5.1
zope.interface==7.2
